<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <h3 class="card-header">Sign Up</h3>
        <div class="card-block">
          <%= form_for(resource, as: resource_name, url: [resource_name, :registration]) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, {autocomplete: "off", class: 'form-control'} %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, {autocomplete: "off", class: 'form-control'} %>
            </div>

            <div class="actions">
              <%= f.submit("Sign Up", class: 'btn btn-primary btn-block') %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
